.fa-circle {
    color: $circle-color;
}
.fa-times {
    color: $x-color;
}
.main {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:80%;
    width:100%;
    &__form {
        height:66.6%;
        .form__message {
            display:block;
            font-family: $main-font;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom:10%;
        }
        .form__first-player {
            .fa-circle {
                font-size: 1.9rem;
                margin-right:5%;
            }
        }
        .form__second-player {
            .fa-times {
                font-size: 2.5rem;
                margin-right:5%;
            }
        }
        .break {
            display:block;
            margin-top:10%;
        }
        .form__input {
            outline-style: none;
            width:80%;
            border:none;
            padding-bottom:2%;
            border-bottom: 2px solid #666;
            font-size: 1.3rem;
            &:nth-of-type(1):focus {
                border-bottom-color: $circle-color;
            }
            &:nth-of-type(2):focus {
                border-bottom-color: $x-color;
            }
        }
        .submit {
            display:block;
            background-color: lighten($color: $main-color, $amount: 10%);
            border:none;
            color:white;
            margin:0 auto;
            text-align: center;
            padding: 5% 10%;
            width: 50%;
            font-size: 1.2rem;
            cursor:pointer;
            transition: 0.3s;
            &:hover {
                background-color: $main-color;
            }
        }
    }
    &__area {
        display:flex;
        flex-wrap: wrap;
        height:$field-size;
        width: $field-size;
        .field {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 6rem;
            height: 33.3%;
            flex-basis:30%;
            border: 1px solid #666;
            &:hover {
                background-color: #ddd;
            }
        }
    }
    .circle-turn, .x-turn  {
        position:absolute;
        top: 15%;
        left:5%;
        p {
            font-family: $main-font;
            font-size: 2rem;
            span {
                font-family: $logo-font;
                color: $circle-color;
            }
        }
    }
    .x-turn {
        left: 70%;
        p {
            span {
                color: $x-color;
            }
        }
        
    }
}